<div style="margin-bottom: 10px; margin-top: 10px;">
    <h2>Members</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="member.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Member
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
    <div class="col-md-3" ng-repeat="member in vm.members track by member.id | orderBy: '$index': false ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{{member.nickname}}</h2>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <img src="{{member.photo}}" class="moba-profile-img img-circle img-responsive" align="center"/>
                </div>
                <div class="row">

                </div>
            </div>
            <div class="panel-footer panel-primary">
                <div class="btn-group flex-btn-group-container" ng-show="">
                    <button type="submit"
                            ui-sref="member-detail({id:member.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="member.edit({id:member.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                            ui-sref="member.delete({id:member.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nickname"><span>Nickname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photo"><span>Photo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobilePhone"><span>Mobile Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="album"><span>Album</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in vm.members track by member.id">
                    <td><a ui-sref="member-detail({id:member.id})">{{member.id}}</a></td>
                    <td>{{member.nickname}}</td>
                    <td>{{member.photo}}</td>
                    <td>{{member.mobilePhone}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.album}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="member-detail({id:member.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member.edit({id:member.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member.delete({id:member.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
<br/>
<br/>
